@import "../../../../core/constants";

app-icon-button {
  display: flex;
}

.project-name {
  text-align: center;
  font-size: 1.5em;
}

.project {
  padding: $half-gutter;
  border-bottom: #cccccc 1px solid;
}

.employee-name {
  font-weight: bold;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  display: grid;
  border-radius: 10px;
  border: 1px solid #b9818180;
  background-color: #f9e4e4b8;

  .project-item {

    display: grid;
    grid-template-columns: 1fr 30px 60px;

    app-input-autocomplete:hover {
      z-index: 1;
    }

    .btn-icon {
      align-self: center;
      justify-self: center;
    }

    .project-item-row {
      display: grid;
      grid-template-columns: 85% 1fr 60px;
      border-bottom: 1px solid #b9818180;
    }

    .employees {
      display: grid;
      grid-column: span 3;
    }

    .employee-name-row {
      display: grid;
      grid-template-columns: 1fr 160px 30px 60px;

      border-bottom: 1px solid #b9818180;
      background-color: #fdf3f3d9;

      .total-hours {
        align-self: center;
      }

      ::ng-deep {
        input {
          padding-left: $gutter;
        }
      }
    }

    .employee-item {

      .tasks-list {

      }

      .task-item {
        display: grid;
        grid-template-columns: 1fr 50px 150px 60px;
        border-bottom: 1px solid #b9818180;
        background-color: #ffffff;

        ::ng-deep {
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .input-task-name {
          ::ng-deep {
            input {
              padding-left: $gutter * 2;
            }
          }
        }
      }
    }

  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
  color: #555;

  .wrapper {
    display: inline-flex;
  }

  .wrapper:hover {
    cursor: pointer;
  }
}

.input-calendar {
  align-self: center;
  height: 20px;
  text-transform: uppercase;
}
