@import "../../../../core/constants";

.project-name {
  text-align: center;
  font-size: 1.5em;
}

.project {
  padding: $half-gutter;
  border-bottom: #cccccc 1px solid;
}

.employee-name {
  font-weight: bold;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
