@import "../../../../core/constants";

/*
input {
  font-size: 16px;
  padding: 10px;
  // display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus {
  outline: none;
}
*/

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: $half-gutter;

  font-family: "Noto Sans", sans-serif !important;
  color: #555;
}

input:focus {
  //outline: none;
  outline-color: #a27171;
  font-weight: bold;
}
