@import "../../../../core/constants";

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: $half-gutter;
  font-family: "Noto Sans", sans-serif !important;
  color: #555;

  &:hover {
    box-shadow: 0 0 10px #cccaca;
  }
}

input:focus {
  outline-color: #a27171;
  font-weight: bold;
}

::placeholder {
  color: #bbb6b6c2;
}

input.ng-invalid {
  color: red;
}
