/* Базовый контейнер табов */

.tabs {
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  margin-right: 1%;
}

/* Стили секций с содержанием */

.tabs>section {
  display: none;
  padding: 15px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.tabs>section>p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Прячем чекбоксы */

.tabs>input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */

.tabs>label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
  color: #888;
  cursor: pointer;
}

/* Стили для активной вкладки */

.tabs>input:checked+label {
  color: #555;
  border-top: 1px solid #b98181;
  border-bottom: 1px solid #fff;
  background: #fff;
}

/* Активация секций с помощью псевдокласса :checked */

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}

/* Убираем текст с переключателей и оставляем иконки на малых экранах */

@media screen and (max-width: 680px) {
  .tabs>label {
    font-size: 0;
  }

  .tabs>label:before {
    margin: 0;
    font-size: 18px;
  }
}

/* Изменяем внутренние отступы переключателей для малых экранов */

@media screen and (max-width: 400px) {
  .tabs>label {
    padding: 15px;
  }
}
