.icon-button {
  transition: all 0.3s ease;
}

.icon-button:hover {
  cursor: pointer;
  fill: #b98181;
  transform: scale(1.5);
}

.light {
  fill: #ebebeb;
}

.dark {
  fill: #777;
}

.size-small {
  height: 25px;
  width: 25px;
}

.size-normal {
  height: 29px;
  width: 29px;
}
