@import "../../../../core/constants";

.context-menu {
  display: block;
  padding-inline-start: 0;
  list-style-type: none;
  background-color: #fafafa;
  padding: $half-gutter 0;
  font-size: 13px;
  z-index: 1000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  animation: fadeIn 0.1s ease-out;
  opacity: 1.0;

  &__item {
    padding: 5px $half-gutter;

    &:hover {
      cursor: pointer;
      background-color: #343a40;
      color: #fff;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1.0;
    }
  }
}
