@import "../../../core/constants";

.modalbackground {
  margin: 0; /* убираем отступы */
  padding: 0; /* убираем отступы */
  position: fixed; /* фиксируем положение */
  top: 0; /* растягиваем блок по всему экрану */
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
  z-index:100; /* выводим фон поверх всех слоев на странице браузера */
  opacity: 1; /* Делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ширина диалогового окна и его отступы от экрана */
.modalwindow {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5% auto;
  background: #fff;
  border-radius: 5px;
  color: darkslategrey;
}

.modalwindow h3 {
  padding: 0;
  margin: 0;
}

.modalwindow p {
  padding: 0;
  margin: 4% 0 8% 0;
}

.close {
  display: block;
  color: darkgray;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

.close:hover {
  cursor: pointer;
  color: #b98181
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $gutter;
  border-bottom: 1px solid #dcdcdc;
}

.main {
  display: flex;
  position: relative;
  padding: 5%;
  border-bottom: 1px solid #dcdcdc;

  input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  input:focus {
    outline: none;
  }

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5%;

  .btn-create {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    background: #b98181;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: #fff;
    transition: all 0.3s ease;
  }

  .btn-create:hover {
    background: #a27171;
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
  }

  .btn-close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    background: #909090e6;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: #fff;
    transition: all 0.3s ease;
  }

  .btn-close:hover {
    background: #868686;
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
  }
}
