.ul-menu-files {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 1rem;
}

.li-menu-files {
  padding: 3%;
  border-bottom: 1px solid lightgrey;
  opacity: 1;
}

.li-menu-files:hover {
  cursor: pointer;
  opacity: 0.6;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.add-report {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.add-report:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
