.ul-menu-files {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 1rem;
}

.li-menu-files {
  padding: 3%;
  border-bottom: 1px solid lightgrey;
  opacity: 1;
}

.li-menu-files:hover {
  cursor: pointer;
  opacity: 0.6;
}
