<section>
  <div class="sidebar-header">
    <h2 class="sidebar-header__title">Отчёты</h2>
    <app-icon-button [color]="'dark'" [iconType]="'add_circle_outline'" [title]="'Создать отчёт'" (click)="openModalNewReport()"></app-icon-button>
  </div>
  <nav class="nav">
    <ul *ngIf="files" class="nav__inner">
      <li *ngFor="let file of files" class="nav__item"
          (click)="onChooseFile(file)"
          (contextmenu)="showContextMenu($event, file); $event.preventDefault();"
          [class.selected]="file === selectedFile">
        {{file}}
        <ng-container *ngIf="!uploadedReports.includes(file)">
          <span class="nav__unsaved-marker" title="Отчёт ещё не был загружен в СУРВ"></span>
        </ng-container>
      </li>
      <ng-container *ngIf="isShowContextMenu">
        <app-context-menu [ngStyle]="{'left.px': contextMenuPosition.x, 'top.px': contextMenuPosition.y}"
                          [contextMenuPosition]="contextMenuPosition"
                          (clickUploadReport)="onClickUploadReport()"
                          (clickMarkAsUploaded)="onClickMarkAsUploaded()"
                          (clickDeleteReport)="onClickDeleteReport($event)">
        </app-context-menu>
      </ng-container>
    </ul>
  </nav>
</section>
