.grid {
  display: grid;
  border-radius: 10px;
  border: 1px solid #b9818180;
  background-color: #f9e4e4b8;

  .special-item {
    display: grid;
    grid-template-columns: 1fr 100px;

    .btn-icon {
      align-self: center;
      justify-self: center;
    }

    .special-tasks {
      display: grid;
      grid-column: span 2;

      .special-task {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
        background-color: #ffffff;

        .special-task-name {

          ::ng-deep {
            input {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
