<div class="container">
  <div class="header">
    <div class="left-panel">
      <i (click)="openDialog()" class="material-icons icon-folder" title="Выберите папку">folder</i>
      <!--
      <button type="button" class="btn btn-primary" (click)="openDialog()">Выберите папку</button>
      -->

      <!--
      <button *ngIf="folderPath" type="button" class="btn btn-success" (click)="openModalNewReport()">Создать новый отчет</button>
      -->
    </div>
    <div *ngIf="folderPath" class="right-panel">{{ folderPath }}</div>
  </div>

  <ng-container *ngIf="showModalNewReport">
    <app-new-report-modal [folderPath]="folderPath" (closeModal)="onCloseModal($event)"></app-new-report-modal>
  </ng-container>

  <div class="main-content">
    <div class="files-panel">
      <app-files-menu *ngIf="showFilesMenuComponent" [files]="files" (sendFileName)="onSendFileName($event)" (openModal)="onShowModalNewReport($event)"></app-files-menu>
    </div>

    <div class="report-panel">
      <app-report *ngIf="showReportComponent; else elseBlock" [filePath]="selectedFile"></app-report>
      <ng-template #elseBlock>Выберите отчёт...</ng-template>
    </div>
  </div>
</div>
