<div class="container">
  <div class="header">
    <div class="left-panel">
      <button type="button" class="btn btn-primary" (click)="openDialog()">Выберите папку</button>
      <button *ngIf="!isFolderChecked && folderPath" type="button" class="btn btn-success" (click)="getFilesFromFolder()">Просканировать папку</button>
    </div>
    <div class="right-panel">
      {{ folderPath }}
    </div>
  </div>

  <div class="main-content">
    <div class="files-panel">
      <app-files-menu *ngIf="showFilesMenuComponent" [files]="files" (sendFileName)="getFileName($event)"></app-files-menu>
    </div>

    <div class="report-panel">
      <app-report *ngIf="showReportComponent" [filePath]="selectedFile"></app-report>
    </div>
  </div>
</div>
