.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
/*
  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  */
  .title {
    color: black;
    margin: 0;
    padding: 50px 20px;
  }
}
